
.wrapper{
text-align: center;
}
ol{
  padding: 0;
  
}

.list{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-left: 43rem;
  margin-right: 43rem;
}